BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100
AlwaysBreakAfterReturnType: None
BinPackParameters: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 1000000
ContinuationIndentWidth: 8
AllowShortFunctionsOnASingleLine: false
